.select2-container {
  z-index: 99999999999;
}

.select2-dropdown {
  border-color: #ccc !important;
}

.wdc-settings .wdc-loader {
  display: none;
  text-align: center;
}
.wdc-settings .wdc-loader:before {
  content: '';
  display: block;
  background: transparent url("../images/loader-dark.svg") no-repeat center center;
  background-size: 40px 40px;
  min-height: 40px;
}
.wdc-settings .select2 {
  width: 100% !important;
}
.wdc-settings .select2 .wdc-tag {
  background: #fff;
  display: inline-block;
  margin-left: -8px;
  padding: 0 8px;
  margin-right: 8px;
  border-right: 1px solid #ccc;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.wdc-settings .select2-container--default .select2-selection--single {
  border-color: #ccc;
}
.wdc-settings .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 26px;
}
.wdc-settings .wdc-show-if-conditions {
  display: none;
}
.wdc-settings.has-conditions .wdc-hide-if-conditions {
  display: none;
}
.wdc-settings.has-conditions .wdc-show-if-conditions {
  display: block;
}
.wdc-settings .notice {
  margin: 20px 0;
}
.wdc-settings .condition-groups {
  margin: 20px 0;
}
.wdc-settings .condition-group h4 {
  margin: 5px 0;
}
.wdc-settings .condition-group:first-child h4 {
  display: none;
}
.wdc-settings table.conditions {
  margin: 0 -5px;
}
.wdc-settings .ui-sortable-placeholder {
  border: 1px dashed #ccc;
}
.wdc-settings .condition .button.dashicons-before:before {
  line-height: inherit;
}
.wdc-settings .condition td.move {
  opacity: .5;
}
.wdc-settings .condition td.move:hover {
  opacity: 1;
}
.wdc-settings .condition td.param {
  width: 25%;
  min-width: 75px;
}
.wdc-settings .condition td.operator {
  min-width: 75px;
}
.wdc-settings .condition td.value {
  width: 35%;
  min-width: 75px;
}
.wdc-settings .condition td.and {
  width: 1%;
}
.wdc-settings .condition td.remove button {
  visibility: hidden;
}
.wdc-settings .condition:hover td.remove button {
  visibility: visible;
}
.wdc-settings .condition td.loader {
  width: 30px;
  background: transparent url("../images/loader-dark.svg") no-repeat center center;
  background-size: contain;
  visibility: hidden;
}
.wdc-settings .condition.loading td.loader {
  visibility: visible;
}
.wdc-settings .condition .button-link.dashicons-before,
.wdc-settings .condition .button-link .dashicons {
  text-decoration: none;
}
.wdc-settings .condition select {
  width: 100%;
}
.wdc-settings p.wdc-submit {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 1px;
}

html.with-wdc-modal {
  /* disable global scrolling when wdc-modals are visible */
  overflow: hidden;
}

.wdc-modal {
  display: none;
  /* dimensions: spanning the background from edge to edge */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647;
  /* z-index needs to be >= elements on the site. */
  /* position: centering content */
  text-align: center;
  /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
  white-space: nowrap;
  /* styling */
  cursor: pointer;
  background: #333;
  /* IE8 "hack" for nested wdc-modals */
  background: transparent;
}
.wdc-modal h1 {
  margin: -20px -20px 20px -20px;
  padding: 15px 53px 15px 20px;
  background-color: #FCFCFC;
  font-size: 22px;
  line-height: 1;
  border-bottom: 1px solid #ddd;
}

/* support for nested wdc-modals. Does not work in IE8 (use JS to fix) */
.wdc-modal:last-of-type {
  background: rgba(0, 0, 0, 0.8);
}

.wdc-modal:before {
  /* position: trick to center content vertically */
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.wdc-modal .wdc-modal-content {
  /* make content container for positioned elements (close button) */
  position: relative;
  /* position: centering vertical and horizontal */
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  /* dimensions: cut off images */
  overflow: auto;
  padding: 20px 20px 0;
  border-bottom: 20px solid transparent;
  /* dimensions: handling large content */
  margin-left: 5%;
  margin-right: 5%;
  max-height: 95%;
  /* styling */
  background: #fff;
  cursor: auto;
  width: 800px;
  /* reset white-space wrapping */
  white-space: normal;
}

/* contains the content */
.wdc-modal .wdc-modal-inner {
  /* make sure its visible */
  display: block;
}

/* don't show these though */
.wdc-modal script.wdc-modal-inner,
.wdc-modal link.wdc-modal-inner,
.wdc-modal style.wdc-modal-inner {
  display: none;
}

.wdc-modal .wdc-modal-close-icon {
  /* position: centering vertical and horizontal */
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  line-height: 53px;
  /* styling */
  cursor: pointer;
  text-align: center;
  font-family: Arial, sans-serif;
  background: transparent;
  border: none;
  padding: 0;
  overflow: hidden;
  color: transparent;
}
.wdc-modal .wdc-modal-close-icon:before {
  color: #23282d;
  content: "\f158";
  font: 400 20px/1 dashicons;
  speak: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 53px;
  height: 53px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
}

/* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
.wdc-modal .wdc-modal-close-icon::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.wdc-modal .wdc-modal-image {
  /* styling */
  width: 100%;
}

.wdc-modal-iframe .wdc-modal-content {
  /* removed the border for image croping since iframe is edge to edge */
  border-bottom: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.wdc-modal iframe {
  /* styling */
  border: none;
}

.wdc-modal * {
  /* See https://github.com/noelboss/wdc-modal/issues/42 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* handling phones and small screens */
@media only screen and (max-width: 959px) {
  .wdc-modal .wdc-modal-content {
    margin-left: 0;
    margin-right: 0;
    width: 90%;
    max-height: 98%;
    min-width: none;
  }
}
/* hide non wdc-modal items when printing */
@media print {
  @page {
    size: landscape;
  }
  html.with-wdc-modal > * > :not(.wdc-modal) {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
