
// TODO : not global scope

.select2-container
{
	z-index: 99999999999; 
}

.select2-dropdown
{
	border-color: #ccc !important;
}

//

.wdc-settings
{
	.wdc-loader
	{
		display: none;
		text-align: center;

		&:before
		{
			content : '';
			display: block;

			background: transparent url( '../images/loader-dark.svg' ) no-repeat center center;
			background-size: 40px 40px;
			min-height: 40px;
		}
	}

	.select2
	{
		width: 100% !important;

		.wdc-tag
		{
			background: #fff;
		    display: inline-block;
		    margin-left: -8px;
		    padding: 0 8px;
		    margin-right: 8px;
		    border-right: 1px solid #ccc;
		    border-top-left-radius: 3px;
		    border-bottom-left-radius: 3px;
		}
	}

	.select2-container--default .select2-selection--single 
	{
		border-color: #ccc;

		.select2-selection__rendered
		{
			line-height: 26px;
		}
	}

	.wdc-show-if-conditions
	{
		display: none;
	}

	&.has-conditions
	{
		.wdc-hide-if-conditions
		{
			display: none;
		}

		.wdc-show-if-conditions
		{
			display: block;
		}
	}

	.notice
	{
		margin: 20px 0;
	}

	.condition-groups
	{
		margin: 20px 0;
	}

	.condition-group
	{
		h4
		{
		    margin: 5px 0;
		}

		&:first-child
		{
			h4
			{
				display: none;
			}
		}
	}

	table.conditions
	{
		margin: 0 -5px;
	}

	.ui-sortable-placeholder
	{
		border: 1px dashed #ccc;
	}

	.condition
	{
		.button.dashicons-before:before
		{
			line-height: inherit;
		}

		td.move
		{
			opacity: .5;

			&:hover
			{
				opacity: 1;
			}
		}

		td.param
		{
			width: 25%;
			min-width: 75px;
		}

		td.operator
		{
			min-width: 75px;
		}

		td.value
		{
			width: 35%;
			min-width: 75px;
		}

		td.and
		{
			width: 1%;
		}

		td.remove
		{
			button
			{
				visibility : hidden;
			}
		}

		&:hover
		{
			td.remove
			{
				button
				{
					visibility : visible;
				}
			}
		}

		td.loader
		{
			width: 30px;
			background: transparent url( '../images/loader-dark.svg' ) no-repeat center center;
			background-size: contain;

			visibility : hidden;
		}

		&.loading
		{
			td.loader
			{
				visibility : visible;
			}
		}

		.button-link
		{
			&.dashicons-before,
			.dashicons
			{
				text-decoration: none;
			}
		}

		select
		{
			width: 100%;
		}
	}

	p.wdc-submit
	{
		text-align: right;
		margin-top: 20px;
		margin-bottom: 1px;
	}
}