//
// Mixins
// -------------------------------------------------------------------

@mixin transition( $value )
{
	       transition: $value;
      -moz-transition: $value;
   -webkit-transition: $value;
}