//
// Variables
// -------------------------------------------------------------------

// Colors

$brand-primary		: #0073aa !default;
$brand-secondary    : #00a0d2 !default;
$brand-tertiary     : #333 !default;
$brand-quaternary   : #222 !default;

// Media queries breakpoints

$screen-sm-min		: 600px !default;
$screen-md-min		: 782px !default;
$screen-lg-min		: 960px !default;

$screen-xs-max		: ( $screen-sm-min - 1 ) !default;
$screen-sm-max		: ( $screen-md-min - 1 ) !default;
$screen-md-max		: ( $screen-lg-min - 1 ) !default;

// modal

$modal-padding		: 20px;