/**
 * Modal
 */
html.with-featherlight {
  overflow: hidden;
}

.wdc-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 159900;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
}
.wdc-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.wdc-modal * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wdc-modal iframe {
  border: none;
}
.wdc-modal h1 {
  margin: -15px -15px 15px;
  padding: 0 63px 0 15px;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  background: #fafafa;
}
.wdc-modal p.submit {
  margin: 0;
  padding: 1px 0;
}

.wdc-modal-content {
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  padding: 15px 15px 0;
  border-bottom: 15px solid transparent;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 95%;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  cursor: auto;
  white-space: normal;
  max-width: 800px;
}
.wdc-modal-iframe .wdc-modal-content {
  border-bottom: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.wdc-modal-inner {
  display: block;
}

script.wdc-modal-inner,
link.wdc-modal-inner,
style.wdc-modal-inner {
  display: none;
}

.wdc-modal-close-icon {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  line-height: 48px;
  width: 48px;
  text-align: center;
  padding: 0;
  cursor: pointer;
  outline: none;
  -webkit-transition: color .1s ease-in-out, background .1s ease-in-out;
  transition: color .1s ease-in-out, background .1s ease-in-out;
  border: 1px solid transparent;
  background: none;
  color: #666;
}
.wdc-modal-close-icon::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.wdc-modal-close-icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "\f158";
  font: normal 20px/1 dashicons;
  speak: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wdc-modal-close-icon:hover {
  color: #00a0d2;
}
.wdc-modal-close-icon:focus {
  color: #00a0d2;
  border-color: #5b9dd9;
  -webkit-box-shadow: 0 0 3px rgba(0, 115, 170, 0.8);
          box-shadow: 0 0 3px rgba(0, 115, 170, 0.8);
  outline: 2px solid transparent;
  outline-offset: -2px;
}

.wdc-modal-image {
  width: 100%;
}

@media print {
  html.with-featherlight > * > :not(.wdc-modal) {
    display: none;
  }
}
.wdc-ui.wdc-loading .wdc-hide-if-loading {
  display: none;
}
.wdc-ui:not(.wdc-loading) .wdc-show-if-loading {
  display: none;
}
.wdc-ui.wdc-has-conditions .wdc-hide-if-conditions {
  display: none;
}
.wdc-ui:not(.wdc-has-conditions) .wdc-show-if-conditions {
  display: none;
}
.wdc-ui h4 {
  margin: .35em 0;
  line-height: 1;
}
.wdc-ui .notice {
  margin: 1em 0;
}
.wdc-ui .notice .spinner {
  margin: 0 0 0 1em;
}
.wdc-ui .button-link {
  color: inherit;
}
.wdc-ui .button-link.dashicons-before {
  text-decoration: none;
}

table.wdc-conditions {
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: collapse;
  width: 100%;
}

tr.wdc-condition > td {
  text-align: center;
  vertical-align: middle;
  padding: 4px 4px;
}
tr.wdc-condition > td:first-child {
  padding-left: 0;
}
tr.wdc-condition > td:last-child {
  padding-right: 0;
}
tr.wdc-condition > td:nth-child(1) {
  width: 35%;
}
tr.wdc-condition > td:nth-child(2) {
  width: 20%;
}
tr.wdc-condition > td:nth-child(4) {
  width: 1%;
}
tr.wdc-condition > td:nth-child(5) {
  width: 1%;
}
tr.wdc-condition > td select {
  margin: 0;
  width: 100%;
}

/*# sourceMappingURL=ui.css.map */