
@import "modal";

.wdc-show-if-conditions
{
	.wdc-has-conditions &
	{

	}
}

.wdc-ui
{
	&.wdc-loading
	{
		.wdc-hide-if-loading
		{
			display: none;
		}
	}

	&:not( .wdc-loading )
	{
		.wdc-show-if-loading
		{
			display: none;
		}
	}

	&.wdc-has-conditions
	{
		.wdc-hide-if-conditions
		{
			display: none;
		}
	}

	&:not( .wdc-has-conditions )
	{
		.wdc-show-if-conditions
		{
			display: none;
		}
	}
	
	h4, p, .notice
	{
		margin: 1em 0;
	}
}

.wdc-condition
{
	select
	{
		width: 100%;
	}
}