
@import "modal";

// Spinner
// Fix: when widget is saving WordPress adds 'is-active' class to all spinners inside widget form.
.wdc-open-ui-wrap
{
	.spinner
	{
		&.wdc-is-active
		{
			visibility: visible;
		}

		&:not( .wdc-is-active )
		{
			visibility: hidden !important;
		}
	}
}

.wdc-open-ui-wrap
{
	display: flex;
    align-items: center;

    .spinner
    {
    	margin: 0 0 0 .75em;
    }
}

.wdc-ui
{
	h4, p
	{
		margin: 0.75em 0;
	}

	h4
	{
		line-height: 1;
	}

	p.submit
	{
		text-align: right;

		margin: 1em 0 0;
	    padding: 1px 0;

	    display: flex;
    	align-items: center;
    	justify-content: flex-end;

	    .spinner
	    {
    		float: none;
    		margin: 0 .75em 0 0;
	    }
	}

	.notice
	{
		margin: 1em 0;
	}

	&.wdc-has-conditions
	{
		.wdc-hide-if-conditions
		{
			display: none;
		}
	}

	&:not( .wdc-has-conditions )
	{
		.wdc-show-if-conditions
		{
			display: none;
		}
	}
}

table.wdc-conditions
{
	margin: -2px;
    width: calc( 100% + 2px );
    border-collapse: collapse;

	&,
	> tbody
	{
		> tr.wdc-condition
		{
			> td
			{
				padding: 2px;

				text-align: left;
				vertical-align: middle;

				&:nth-child( 1 ) { width: 35%; }
				&:nth-child( 2 ) { width: 20%; }
				&:nth-child( 3 ) {}
				&:nth-child( 4 ) { width: 1%; }
				&:nth-child( 5 ) { width: 1%; }

				
			}
		}
	}

	select
	{
		width: 100%;
		margin: 0;
	}

	.button
	{
		line-height: 25px;
    	height: 27px;
	}
}

.wdc-remove-condition
{
	&.button-link
	{
		color: #666;
		text-decoration: none;
	}
}
